@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


/* font-family: 'Unna', serif; */
/* font-family: 'DM Sans', sans-serif; */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container{
    max-width: 1260px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

::selection{
    color: black;
    background-color: #c6d8c0;
}

.header-about{
    background-color: #fff;
    height: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 80px;
}

.header-about .logo{
    padding-left: 10px;
}
.navbar img{
    height: 30px;
    padding: 0px 0px 0px 10px;
}

.middle-about .line{
    border-bottom: 1px solid #5c9735;
    width: 60px;
    padding-top: 47px;
    margin-left: 50px;
    margin-bottom: 35px;
}

.middle-about h1{
    font-family: 'Unna', serif;
    font-size: 72px;
}

.middle-about h4{
    font-family: 'Unna', serif;
    font-size: 32px;
    padding-left: 50px;
}

.middle-about p{
    font-family: 'DM Sans', sans-serif; 
    font-size: 16px;
    padding-left: 50px;
    width: 725px;
    color: #4d4f48;
}

.abt2{
    padding-top: 100px;
    padding-bottom: 100px;
}
.abt2 h6{
    font-size: 18px;
    font-family: 'Unna', serif;
    letter-spacing: 2px;
    color: #4d4f48;
}

.abt2 i{
    padding-top: 20px;
    color: #c6d8c0;
    font-size: 28px;
    padding-left: 50px;
}
.abt2 h3{
    line-height: 1.6em;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    padding-left: 50px;
    color: #141a0f;
    font-weight: 600;
    width: 720px;
}

.span img{
    clip-path: circle();
    margin-left: 50px;
    margin-top: 8px;
}
.span a{
    font-size: 14px;
    font-family: 'DM Sans', sans-serif; 
    color: black;
    display: block;
    text-decoration: none;
    padding-left: 35px;
    margin-top: 8px;
}
.span p{
    font-size: 13px;
    font-family: 'DM Sans', sans-serif; 
    color: black;
    padding-left: 35px;
}

.btn3{
    padding-bottom: 100px;
}
.pht1 img{
    width: 370px;
    height: 370px;
    padding: 0px 0px 15px 15px;
}

.pht2 img{
    width: 370px;
    height: 370px;
    padding: 0px 0px 0px 15px;
}

.footer{
    background-color: #141a0f;
    text-align: center;
    color: #f0ffd8;
}
.footer h2{
    font-family: 'Unna',serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 2.5em;
}

.footer .nav{
    padding: 100px 0px 50px 460px;

}
.footer ul li{
    display: inline-block;
    
}
.footer ul li a{
    text-decoration: none;
    color: white;
    padding: 0px 20px ;
    font-family: 'DM Sans',sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6em;
}

.footer h2{
    font-family: 'Unna',serif;
    font-size: 32px;
}
.footer input {
    max-width: 600px;
    padding: 15px;
    font-size: 17px;
    color: black;
    border-radius: 0.5em;
    border: 2px solid #fff;
    margin-right: 25px;
    margin-left: 290px;
    transition: all 0.5s;
  }
  .footer input:hover{
    color: #cacdd1;
    transform: scale(110%);
}

  
  .footer button {
    max-width: 200px;
    border: none;
    background-color: #5c9735;
    text-decoration: none;
    padding: 15px;
    padding-bottom: 17px;
    font-size: 17px;
    color: #fff;
    border-radius: 0.5em;
    transition: all 0.5s;
  }
  .footer button:hover{
    background-color: #4d4f48;
    color: #cacdd1;
    transform: scale(110%);
  }
  .footer .icn{
    padding-top: 50px;
    border-bottom: 1px solid #2c3127;
  }
  .footer .icn i{
    color: #aaaca8;
    padding: 0px 10px 65px 10px;
    font-size: 21px;
  }
  .footer a{
    font-family: 'DM Sans',sans-serif;
    font-size: 14px;
    color: #aaaca8;
    padding: 40px 0px 0px 0px;
  }
  .footer p{
    font-family: 'DM Sans',sans-serif;
    font-size: 14px;
    color: #aaaca8;
    padding: 40px 0px 0px 0px;
  }
