@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


/* font-family: 'Unna', serif; */
/* font-family: 'DM Sans', sans-serif; */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1260px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

::selection{
    color: black;
    background-color: #c6d8c0;
}

.header1-home{
    background-image: url(../Images/hero-section-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
    position: relative;
    z-index: 1;
}

.header1-home::after{
    content: "";
    position: absolute;
    background-color: #141a0f;
    opacity: .5;
    mix-blend-mode: multiply;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.navbar img{
    height: 35px;
}

.info h6{
    font-size: 18px;
    line-height: 1.25em;
    font-weight: 400;
    font-family: 'Unna',serif;
    color: var(--e-global-color-astglobalcolor5 );
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 100px 0px 25px 0px;

}

.info h1{
    font-size: 72px;
    color: #ffffff;
    font-family: 'Unna',serif;
}

.info button{
    font-family: 'DM Sans', sans-serif;
    padding: 11px 27px;
    font-weight: 500;
    border: none;
    background-color: white;
    color: #141a0f;
    margin-top: 25px;
    transition: all 0.5s;
}

.info button:hover{
    background-color: #69727d;
    color: #cacdd1;
    transform: scale(110%);
}

.middle1-home{
    padding: 100px 0px 0px 0px;
    background-color: #cacdd1;
}

.middle1-home h4{
    font-size: 40px;
    font-family: 'Unna', serif;
    padding-left: 45px;
}

.middle1-home button{
    border: none;
    background-color: #5c9735;
    color: #ffffff;
    font-weight: 500;
    padding: 10px 30px;
    margin-left: 20px;
    transition: all 0.5s;
}

.middle1-home button:hover {
    background-color: #69727d;
    color: #cacdd1;
    transform: scale(110%);
}    

.pictures{
    padding: 45px;
}

.pictures i{
    padding-top: 10px;
    margin: 0;
}

.pictures h5{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Unna',serif;
    margin: 0;
}
.pictures p{
    font-family: 'DM Sans',sans-serif;
    font-weight: 400;
    font-size: 13.6px;
    color: #9ea0a1 ;
    margin: 0;
}

.pictures h6{
    font-family: 'DM Sans',sans-serif;
    font-weight: 600;
    font-size: 14.4px;
    color: #4d4f48;
    padding: 5px 0px 40px 0px;
}

.middle2-home img{
    height: auto;
    width: 100%;
}

.middle2-home h6{
    padding: 100px 0px 0px 40px;
    color: var(--e-global-color-astglobalcolor2 );
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 1.25em;
    font-weight: 400;
    font-family: 'Unna',serif;
}

.middle2-home h3{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Unna',serif;
    line-height: 1.2em;
    padding-left: 40px;
}

.middle2-home p{
    font-family: 'DM Sans',sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #9ea0a1;
    line-height: 1.6em;
    max-width: 450px;
    padding-left: 40px;
}

.middle2-home button{
    margin: 20px 0px 0px 40px;
    border: none;
    background-color: #5c9735;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 30px;
    transition: all 0.5s;
}

.middle2-home button:hover {
    background-color: #69727d;
    color: #cacdd1;
    transform: scale(110%);
} 

.middle3-home{
    padding-bottom: 100px;
}
.middle3-home h1{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Unna',serif;
    line-height: 1.2em;
    text-align: center;
    padding: 100px 0px 20px 0px;
}

#line{
    border-bottom: 1px solid #5c9735;
    max-width: 45px;
    margin: 0px 0px 40px 535px;
}

.middle3-home i{
    font-size: 30px;
}
.middle3-home p{
    max-width: 346px;
    font-family: 'DM Sans',sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.6em;
    color: #2a1a0f;
    padding-left: 20px;
}

.middle3-home img{
    clip-path: circle();
    margin-bottom: 10px;

}

.middle3-home a{
    font-size: 11px;
    font-weight: 700;
    color: #2a1a0f;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.footer1-home{
    background-image: url(../Images/footer-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
}
.footer1-home::after{
    content: "";
    position: absolute;
    background-color: #141a0f;
    opacity: .5;
    mix-blend-mode: multiply;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.footer1-home button{
    font-family: 'DM Sans', sans-serif;
    padding: 11px 27px;
    font-weight: 500;
    border: none;
    background-color: white;
    color: #141a0f;
    margin-top: 25px;
    transition: all 0.5s;
}
.footer1-home button:hover{
    background-color: #69727d;
    color: #cacdd1;
    transform: scale(110%);
}

.footer1-home h6{
    font-family: 'Unna',serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25em;
    padding: 200px 0px 20px 0px;
}

.footer1-home h1{
    font-family: 'Unna',serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 1.2em;
}

.footer1-home p{
    font-family: 'DM Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
}

.footer2-home{
    padding: 20px 0px;
}

.icons i{ 
    font-size: 20px;
    border-radius: 50%;
    background-color: #5c9735;
    padding: 10px 10px;
    color: white;
    margin: 10px 0px 0px 30px;
}
.footer2-home h4{
    font-family: 'Unna',serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 0em;
    padding: 20px 0px 5px 0px;
}
.footer2-home p{
    font-size: 15px;
    line-height: 1.4em;
    font-family: 'DM Sans',sans-serif;
    color: #4d4f48;
}
.footer3-home{
    background-color: #141a0f;
    text-align: center;
    color: #f0ffd8;
}
.footer3-home h2{
    font-family: 'Unna',serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 2.5em;
}

.footer3-home .nav{
    padding: 100px 0px 50px 460px;

}
.footer3-home ul li{
    display: inline-block;
    
}
.footer3-home ul li a{
    text-decoration: none;
    color: white;
    padding: 0px 20px ;
    font-family: 'DM Sans',sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6em;
}

.footer3-home h2{
    font-family: 'Unna',serif;
    font-size: 32px;
}
.footer3-home input {
    max-width: 600px;
    padding: 15px;
    font-size: 17px;
    color: black;
    border-radius: 0.5em;
    border: 2px solid #fff;
    margin-right: 25px;
    margin-left: 290px;
    transition: all 0.5s;
  }
  .footer3-home input:hover{
    color: #cacdd1;
    transform: scale(110%);
}

  
  .footer3-home button {
    max-width: 200px;
    border: none;
    background-color: #5c9735;
    text-decoration: none;
    padding: 15px;
    padding-bottom: 17px;
    font-size: 17px;
    color: #fff;
    border-radius: 0.5em;
    transition: all 0.5s;
  }
  .footer3-home button:hover{
    background-color: #4d4f48;
    color: #cacdd1;
    transform: scale(110%);
  }
  .footer3-home .icn{
    padding-top: 50px;
    border-bottom: 1px solid #2c3127;
  }
  .footer3-home .icn i{
    color: #aaaca8;
    padding: 0px 10px 65px 10px;
    font-size: 21px;
  }
  .footer3-home p{
    font-family: 'DM Sans',sans-serif;
    font-size: 14px;
    color: #aaaca8;
    padding: 40px 0px 10px 0px;
  }

/* -----------------------Plants------------------------------ */




